---
import { Temporal } from '@js-temporal/polyfill'

import type { TrainListByDay } from './type'
import EmptyList from './empty-list.astro'
import TrainPlanCard from '../train-plan-card/index.astro'

interface Props extends TrainListByDay {}

const { rainyTrainPlans, date } = Astro.props

const today = Temporal.Now.plainDateISO()

const dateString = getDateString(date)

function getDateString(date: Temporal.PlainDate) {
    const daysDifference = date.since(today).days

    const { isoMonth, isoDay } = date.getISOFields()

    if (daysDifference === 0) {
        return '오늘'
    }

    if (daysDifference === 1) {
        return `내일(${isoMonth}월 ${isoDay}일)`
    }

    if (daysDifference === 2) {
        return `모레(${isoMonth}월 ${isoDay}일)`
    }

    return `${date.month}월 ${date.daysInMonth}일`
}
---

<li>
    <h2>{dateString}</h2>
    {
        rainyTrainPlans.length === 0 ? (
            <EmptyList />
        ) : (
            <ul>
                {rainyTrainPlans
                    .toSorted(
                        (plan) => plan.trainPlan.departure.time.millisecond
                    )
                    .map((plan) => (
                        <TrainPlanCard plan={plan} />
                    ))}
            </ul>
        )
    }
</li>

<style scoped>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 4rem;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60rem, 1fr));
    }

    li {
        background: white;
        padding: 8rem;
        gap: 8rem;
        display: flex;
        flex-direction: column;
        border-radius: 6rem;
        margin: 0px;
    }

    h2 {
        font-family: var(--font-pilseung);
        font-weight: unset;
        font-size: 8rem;
        margin: 0px;
    }

    @media (max-width: 900px) {
        h2 {
            /* font-size: 6rem; */
        }
    }
</style>
