---
import type { RainyTrain } from '../../service/rainy-trains/type'

import raindropIcon from './icon/raindrop.svg'
import percentIcon from './icon/percent.svg'
import getCardData from './get-card-data'

interface Props {
    plan: RainyTrain
}

const { plan } = Astro.props

const cardData = getCardData(plan.trainPlan)
---

<section
    data-train-type={cardData.train.code}
    data-pure-honam={cardData.plan.isPureHonam}
    data-train-card
>
    <div class="header">
        <img
            src={cardData.train.image}
            alt={cardData.train.name + ' 로고 이미지'}
        />

        <p class="trainnum">
            {cardData.plan.number}
        </p>
    </div>

    <div class="travel">
        <p>
            ◇ {cardData.plan.departure.station}<br />
            → {cardData.plan.arrival.station}
        </p>
        <p class="time">
            {cardData.plan.departure.time}
            <br />
            {cardData.plan.arrival.time}
        </p>
    </div>

    <div class="weather">
        <div class="label">
            <p>
                <img
                    src={raindropIcon.src}
                    alt="강수량 아이콘"
                    width={raindropIcon.width}
                    height={raindropIcon.height}
                />
                <span>강수량</span>
            </p>
            <p>
                <img
                    src={percentIcon.src}
                    alt="강수 확률 아이콘"
                    width={percentIcon.width}
                    height={percentIcon.height}
                />
                <span>강수 확률</span>
            </p>
        </div>
        <div class="measure">
            <p>
                {plan.rainyPlan.precipitation} mm
            </p>
            <p>
                {plan.rainyPlan.probability}%
            </p>
        </div>
    </div>
</section>

<style scoped>
    .header img {
        height: 6rem;
    }

    .weather img {
        height: 5rem;
        width: 5rem;
        vertical-align: middle;
    }

    .weather span {
        vertical-align: middle;
    }

    .label,
    .measure {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .measure {
        align-items: flex-end;
    }

    section {
        background-color: #f6f7fa;
        border-radius: 3rem;
        padding: 4rem;
        gap: 4rem;
        display: flex;
        flex-direction: column;
        min-width: 54rem;
    }

    p {
        margin: 0;
    }

    .trainnum {
        font-size: 4rem;
        color: #3d3f4a;
        font-weight: 600;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .time {
        color: #73768a;
        font-variant-numeric: tabular-nums;
    }

    .travel {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        color: #292a33;
        font-size: 4.5rem;
        line-height: 150%;
    }

    .weather {
        background-color: white;
        color: #3d3f4a;
        border-radius: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 4.5rem;
        padding: 3rem;
    }
</style>
